* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.game-board {
  border: 2px solid darkgreen;
  height: 20em;
  width: 20em;
  background-color: mistyrose;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  order: -1;
}

.square {
  background-color: hotpink;
  width: 30%;
  height: 30%;
}

.player-one-score, .player-two-score {
  width: 10em;
}

.player-one-score {
  background-color: darkcyan;
}

.player-two-score {
  background-color: darkmagenta;
}

@media (min-width: 40em) {
  .game-board {
    order: 0;
  }


}

